<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite"><test name="TC_BookmarkArticle"><classes><class name="main.java.module.CokeHelp"><methods><include name="openURL"><parameter name="DataRowID" value="manageusers"/></include><include name="cokeHelp_Login"><parameter name="DataRowID" value="valid"/></include><include name="validateSearchFunctionality"><parameter name="DataRowID" value="row3"/></include><include name="navigateToArticleFrontEnd"><parameter name="DataRowID" value="feedback1"/></include><include name="bookmarkArticle"><parameter name="DataRowID" value="feedback1"/></include><include name="navigateToProfileMenu"><parameter name="DataRowID" value="myprofile"/></include><include name="validateBookmarkedArticle"><parameter name="DataRowID" value="row1"/></include><include name="cokeHelp_Logout"><parameter name="DataRowID" value=""/></include></methods></class></classes></test></suite>